body{
    background-image: url('../images/canvabg.png');
    background-size: 100% 100vh;
    /* background-size:1500px 700px; */
}

img{
    position: fixed;
    left: 160px;
    top: 169px;
    height : 450px;
}

div{
    position: fixed;
    left: 800px;
    right: 200px;
    top: 150px;
    bottom: 400px;
}

h1{
    color: #923a47;
    font-family: 'Papyrus';
    font-weight: bold;
}

p{
    color: #e37e8d;
    font-family: 'Papyrus';
    font-weight: bold;
    font-size: 20px;
}

#NEXT{
    color: #5e81b6;
}

.button-55 {
  align-self: center;
  background-color: #b5c8e6;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: 'Papyrus',Neucha, sans-serif;
  font-weight:bold;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


.login{
    position: fixed;
    left: 925px;
    top : 450px;

}

.next{
    position: fixed;
    left: 1125px;
    top : 450px;
}
