.centre{
    margin: 50px auto 0px; 
}
.card {
    box-shadow: 3px 8px 16px 5px rgba(0, 0, 0, 0.31);
    transition: 0.3s;
    width: 30%;
    background-color:rgba(228, 209, 192, 0.589);
    border-radius: 15px 15px 15px 15px;
}

.card:hover {
    box-shadow: 0px 0px 16px 5px rgba(223, 214, 214, 0.2);
}

.container {
    padding: 2px 16px; 
}

body{
    background-image: url('../images/herefm2.png');
    background-size: 100% 110%;
    background-repeat: no-repeat;
}

img{
    border-radius: 15px 15px 0px 0px;
}

table{
    margin: 10px auto 20px;
    background-color: rgb(247, 230, 225);
    border-radius: 12px;
    box-shadow: 3px 8px 16px 5px rgba(0, 0, 0, 0.31);
    transition: all 235ms ease-in-out;
}

table:hover{
    transform: translate3d(0,2px,0);
}

td{
    padding: 3% 26% ;
    margin: 0 auto ;
    width : 90%;
    font-family: 'Papyrus';
    font-weight: bold;
    font-size: 15px;
}


button{
    background-color: #fff;
    border-radius: 8px;
}

#hehe{

    border: 0px solid white;
    padding:2%;
    box-shadow: 3px 5px 4px 0 rgba(67, 67, 66, 0.31);
    width: 10vw; 
    margin-left : 9.5vw;
    margin-bottom: 4%;
    font-family: 'Papyrus';
    font-weight: bold;
    font-size: 18px;
    background-color: #fff;
    border-radius: 8px;
    display: inline-block;
    transition: all 235ms ease-in-out;
    cursor:pointer;
}

#hehe:hover{
    background-color: rgb(20, 14, 9);
    color: white;
    transform: translate3d(0, 2px, 0);
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;

}

#hehe:active{
    background-color: rgb(20, 14, 9);
    color: white;
}

p{
    margin : 1.5% 41.5%;
    color: #fff;
    font-family: 'Courier New';
    font-size: 18px;
}

